* {
    margin: 0;
    padding: 0;
}
header, footer, aside, section, main{
    display: block;
}
/*a{
    color: #ffffec;
}*/

a:hover{
  text-decoration: none;
}

div{
  /*border: 1px solid #F1E8DE;*/
  /*border: 1px solid black;*/
  text-align: center;
}

body{
  /*font-family:"Wingdings2";*/
  background-color: #F7EEE2;
  direction: rtl;
  color: #3A3A3A;
  font-size: 20px;
  font-family: david;
  padding: 20px;
 }

.inColl{
  width: 12.5%;
  float: left;
}
.pullRight{
  text-align: right;  
}
.pullLeft{
  text-align: left;  
}
.total{
  color: #F69A04;
  opacity: 0.5;
}
.subTotal{
  color: #BF0C22;
}
.unit{
  color: #3A3A3A;
}

#frstRow div{
  /*line-height: 190px;*/
}

#scndRow div{
  line-height: 70px;
  border: 1px solid #F1E8DE;

}

#thrdRow div{
  line-height: 50px;
  border: 1px solid #F1E8DE;

}
.sideLine{
  border-right: 1px solid #F1E8DE;
}
.img-responsive.img-circle{
  max-width: 100px;
}
.bgBlack{
  background: #3A3A3A;
  /*width: 100%;*/
  padding: 5px;  
}

.bgWhite{
  /*background: #F7EEE2;*/
  /*width: 100%;*/
  padding: 5px;  
}

.blackBTN{

  border: 1px solid #F7EEE2;
  color: #F7EEE2;
  width: 100%;
  border-radius: 0px;
  background: #3A3A3A;
  font-size: 18px;

}

.whiteBTN{

  border: 1px solid #7A766F;
  color: #3A3A3A;
  width: 100%;
  border-radius: 0px;
  background: #F7EEE2;
  font-size: 14px;

}
